@model NurseVolunteeringSystem.Models.Suburb

@{
    ViewData["Title"] = "Create";
}

<h3 class="text-center" style="background-color:rgb(255,215,0,0.5)">Create New Suburb</h3>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SuburbName" class="control-label text-dark"></label>
                <input asp-for="SuburbName" class="form-control" />
                <span asp-validation-for="SuburbName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label text-dark"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityID" class="control-label text-dark"></label>
                <select asp-for="CityID" asp-items="@(new SelectList(ViewBag.Cities, "CityID", "CityName"))" class="form-control">
                    <option value="" disabled>Select City</option>
                </select>
                <span asp-validation-for="CityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
