@model NurseVolunteeringSystem.Models.PrefferedSuburb

@{
    ViewData["Title"] = "UpdatePreferredSuburb";
}

<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<div class="w-100 bg-primary">
    <div class="pt-1 m-0 row">
        <h5 class="text-white text-center ml-5" style="text-align:center">Update Preffered Suburbs</h5>
    </div>
</div>
<hr />
<br />

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-controller="PreferredSuburb" asp-action="UpdatePreferredSuburb" asp-area="Nurse" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PrefferedSuburbID" />
            <div class="form-group">
                <label class="control-label">Select  City  8</label>
                <select id="CityList" class="form-control" asp-items="ViewBag.Cities">
                    <option value="@Model.Suburb.CityID" selected></option>
                </select>
                <span asp-validation-for="@Model.Suburb.CityID" class="text-danger"></span>

            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="SuburbID" class="control-label">Select Suburb *</label>
                    <select id="SuburbList" asp-for="SuburbID" class="form-control" asp-items="@(new SelectList(string.Empty,"Value","Text"))"></select>
                </div>
                <span asp-validation-for="SuburbID" class="text-danger"></span>
            </div>
            <input asp-for="NurseID" hidden />
            <input asp-for="Status" hidden />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="PreferredSuburb" asp-action="ListPreferredSuburbs" asp-area="Nurse" class="btn btn-primary">Back to List</a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#CityList").change(function () {
            $.getJSON("/Account/GetSuburbs", { id: $("#CityList").val() }, function (d) {
                var row = "";
                $("#SuburbList").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#SuburbList").html(row);
            })
        })
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
