@model NurseVolunteeringSystem.Areas.Manager.Models.DateRangeVM

@{
    ViewData["Title"] = "ContractVisits";
}

<div class="w-100 bg-primary">
    <div class="pt-1 m-0 row">
        <h5 class="text-white text-center ml-5" style="text-align:center">Contract care visits</h5>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-controller="Contract" asp-area="Manager" asp-action="ContractVisits" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="contractID" value="@ViewBag.ContractID" />
            <div class="input-group">
                <div class="col-6 form-group">
                    <label asp-for="MinDate">Minimum Date *</label>
                    <input asp-for="MinDate" type="date" class="form-control" />
                    <span asp-validation-for="MinDate" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <label asp-for="MaxDate">Maximum Date *</label>
                    <input asp-for="MaxDate" type="date" class="form-control" />
                    <span asp-validation-for="MaxDate" class="text-danger"></span>
                </div>
            </div>
           
            <div class="row">
                <div class="offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Contract" asp-action="ListAssignedContracts" asp-area="Manager" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
