@model NurseVolunteeringSystem.Areas.Manager.Models.DateRangeVM

@{
    ViewData["Title"] = "ContractVisits";
}

<h1>ContractVisits</h1>

<h4>CareVisit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Contract" asp-area="Manager" asp-action="ContractVisits" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="contractID" value="@ViewBag.ContractID" />
            <div class="form-group row">
                <div class="col-sm-2"><label>Minimum Date:</label></div> <div class="col-sm-4">
                    <input asp-for="MinDate" type="date" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="MinDate" class="text-danger"></span>
                </div>
            </div> <div class="form-group row">
                <div class="col-sm-2"><label>Maximum Date:</label></div> <div class="col-sm-4">
                    <input type="date" asp-for="MaxDate" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="MaxDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
