@model NurseVolunteeringSystem.Models.ViewModels.UpdateNurseVM;

@{
    ViewData["Title"] = "UpdateNurse";
    Layout = "_AdminLoggedIn";
}

<div class="w-100 " style="background: rgb(255, 215, 0,0.8 )">
    <div class="pt-1 m-0 row">
        <h5 class="text-dark text-center ml-5" style="text-align:center">Update Nurse</h5>
    </div>
</div>
<hr />
<br/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateNurse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />

            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name *</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Surname *</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GenderID" class="control-label">Select Gender *</label>
                <select asp-for="GenderID" class="form-control" asp-items="ViewBag.Genders">
                    <option value="@Model.GenderID" selected></option>
                </select>
                <span asp-validation-for="GenderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNo" class="control-label">Contact No *</label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email *</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmEmail" class="control-label">Confirm Email *</label>
                <input asp-for="ConfirmEmail" class="form-control" />
                <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="ManageUsers" asp-action="ListNurses">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
