@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Patient landing</h1>
    <a asp-controller="CareContract" asp-action="create" asp-area="Patient">Add care contract</a>
    <a asp-controller="PatientCondition" asp-action="Create" asp-area="Patient">Add patient condition</a>

</div>