@model NurseVolunteeringSystem.Models.ViewModels.UpdatePatientViewModel

@{
    ViewData["Title"] = "UpdatePatientPersonalInfo";
}
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<div class="w-100 " style="background: rgb(255, 215, 0,0.8 )">
    <div class="pt-1 m-0 row">
        <h5 class="text-dark text-center ml-5" style="text-align:center">Update Personal Details</h5>
    </div>
</div>
<hr />
<br />

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-controller="Home" asp-area="Patient" asp-action="UpdatePatientPersonalInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientID" />

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDNumber" class="control-label"></label>
                <input asp-for="IDNumber" class="form-control" />
                <span asp-validation-for="IDNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label"></label>
                <select asp-for="GenderID" class="form-control" asp-items="ViewBag.Genders">
                    <option value="GenderID" selected></option>
                </select>
                <span asp-validation-for="GenderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine1" class="control-label"></label>
                <input asp-for="AddressLine1" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddressLine2" class="control-label"></label>
                <input asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label class="control-label">City</label>
                <select id="CityList" class="form-control" asp-items="ViewBag.Cities"></select>

            </div>
            <div class="form-group">
                <label asp-for="SuburbID" class="control-label"></label>
                <select id="SuburbList" asp-for="SuburbID" class="form-control" asp-items="@(new SelectList(string.Empty,"Value","Text"))"></select>
                <span asp-validation-for="SuburbID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNo" class="control-label"></label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactPerson" class="control-label"></label>
                <input asp-for="EmergencyContactPerson" class="form-control" />
                <span asp-validation-for="EmergencyContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactNumber" class="control-label"></label>
                <input asp-for="EmergencyContactNumber" class="form-control" />
                <span asp-validation-for="EmergencyContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmEmail" class="control-label"></label>
                <input asp-for="ConfirmEmail" class="form-control" />
                <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
            </div>





            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-area="Patient" asp-action="HomePage">Back</a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#CityList").change(function () {
            $.getJSON("/Account/GetSuburbs", { id: $("#CityList").val() }, function (d) {
                var row = "";
                $("#SuburbList").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#SuburbList").html(row);
            })
        })
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
