@model NurseVolunteeringSystem.Areas.Patient.Models.AddCareContractVM

@{
    ViewData["Title"] = "Edit";
}

<h3 class="text-center" style="background-color:rgb(255,215,0,0.5)">Edit Care Contract</h3>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ContractID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AddressLine1">Address Line 1*</label>
                <input asp-for="AddressLine1" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddressLine2">Address Line 2</label>
                <input asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WoundDescription">Wound Description *</label>
                <input asp-for="WoundDescription" class="form-control" />
                <span asp-validation-for="WoundDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label text-dark">Select  Suburb *</label>
                <select asp-for="SuburbID" asp-items="@(new SelectList(ViewBag.Suburbs, "SuburbID", "SuburbName"))" class="form-control">
                    <option value="" disabled>Select Suburb</option>
                </select>
                <span asp-validation-for="SuburbID" class="text-danger"></span>
            </div>
            <input asp-for="ContractID" hidden class="form-control" />
            <input asp-for="ContractDate" hidden class="form-control" />
            <input asp-for="StartCareDate" hidden class="form-control" />
            <input asp-for="EndCareDate" hidden class="form-control" />
            <input asp-for="ContractStatus" hidden class="form-control" />
            <input asp-for="DeleteStatus" hidden class="form-control" />
            <input asp-for="PatientID" hidden class="form-control" />
            <input asp-for="NurseID" hidden class="form-control" />

            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>


