@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model NurseVolunteeringSystem.Models.ViewModels.UpdateUserPassword
@{
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-controller="Home" asp-action="ChangePassword" asp-area="Nurse">
    <div class="form-group row">
        <div class="col-sm-2"><label>Old Password*:</label></div> <div class="col-sm-4">
            <input asp-for="OldPassword" type="password" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
            <span asp-validation-for="ConfirmOldPassword" class="text-danger"></span>
        </div>
        <input asp-for="ConfirmOldPassword" hidden class="form-control" />
    </div>
    
    <div class="form-group row">
        <div class="col-sm-2"><label>New Password:</label></div> <div class="col-sm-4">
            <input type="password" asp-for="Password" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Confirm Password:</label></div> <div class="col-sm-4">
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Change</button>
        </div>
    </div> <div class="row">
        <div class="offset-2 col-sm-4">

            <a asp-controller="Home" asp-action="HomePage" asp-area="Nurse">Back</a>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


