@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Nurse landing</h1>
    <a asp-controller="PreferredSuburb" asp-action="AddPreferredSuburb" asp-area="Nurse">Add preferred</a><br />
    <a asp-controller="CareContract" asp-action="ListContracts" asp-area="Nurse">Preferred contracts</a><br />
    <a asp-controller="CareContract" asp-action="ListAssignedContracts" asp-area="Nurse">Assigned contracts</a><br />
    <a asp-controller="Home" asp-action="ChangePassword" asp-area="Nurse">Change Password</a><br />
    <a asp-controller="Home" asp-action="UpdateNursePersonalInfo" asp-area="Nurse">Update personal info</a><br />

</div>
